@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 28%, 15%);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

nav {
  width: 90%;
  height: 15vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 130px;
  height: auto;
  cursor: pointer;
}

ul.navbar {
  list-style: none;
  display: flex;
}

ul.navbar li {
  width: 100px;
}

ul.navbar li a {
  text-decoration: none;
  color: hsl(0, 1%, 59%);
  transition: 0.3s ease;
}

ul.navbar li a:hover {
  text-decoration: underline;
  color: hsl(0, 0%, 100%);
}

header {
  background: url("/images/bg-curvy-desktop.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 220px;
}

.header-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.intro-text {
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}

.intro {
  width: 40%;
  margin-bottom: 30px;
}

.intro-text h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
}

.intro-text p {
  /* width: 500px; */
  line-height: 1.6rem;
  font-weight: 400;
  margin: 0 auto 30px;
  color: hsl(0, 1%, 59%);
}

#btn {
  width: 250px;
  padding: 14px;
  outline: none;
  border: none;
  border-radius: 25px;
  background: hsl(198, 60%, 50%);
  font-family: "Raleway", sans-serif;
}
#btn a {
  text-decoration: none;
  color: #fff;
}

#btn:hover {
  background-color: hsl(176, 68%, 64%);
  cursor: pointer;
}

.main {
  width: 100%;
  height: auto;
  background: hsl(218, 28%, 13%);
  padding-top: 30px;
}

.services {
  width: 75%;
  min-height: 50vh;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* column-gap: 1.2rem; */
}

.service {
  margin: 15px 0;
  padding: 0 25px;
}

.service img {
  width: 70px;
  height: auto;
  margin-bottom: 25px;
}

.service-text {
  /* width: 400px; */
  margin: auto;
  line-height: 1.5rem;
  margin-bottom: 30px;
  color: hsl(0, 1%, 59%);
}

.service-text h2 {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}

.product {
  width: 80%;
  min-height: 50vh;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.product > img {
  width: 50%;
  height: auto;
}

.product-text {
  width: 45%;
}

.product-text h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.product-text p {
  margin-bottom: 1rem;
  line-height: 1.2rem;
  color: hsl(0, 1%, 59%);
}

.product-text a {
  color: hsl(176, 68%, 64%);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-bottom: 0.15rem solid hsl(176, 68%, 64%);
  padding-bottom: 0.125rem;
}

.product-text a img {
  width: 20px;
  margin-left: 5px;
}

.testimonial {
  width: 85%;
  /* min-height: 70vh; */
  margin: auto;
  margin-top: 4rem;
  /* display: flex; */
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  position: relative;
}

.testimonial::after {
  content: url(./images/bg-quotes.png);
  position: absolute;
  top: 22%;
  left: -1%;
}

.card {
  height: auto;
  background-color: hsl(219, 30%, 18%);
  padding: 25px 15px;
  box-shadow: 2px 2px 3px hsl(217, 27%, 20%);
  border-radius: 3px;
  z-index: 1;
}

.card-text {
  font-size: 0.9rem;
  line-height: 1.35rem;
}

.profile-wrap {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.pro-1 {
  background: url(./images/profile-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.pro-2 {
  background: url(./images/profile-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.pro-3 {
  background: url(./images/profile-3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.profile-text span {
  font-size: 0.9rem;
  color: #e2e1e1;
}

.signup {
  width: 60%;
  height: 35vh;
  margin: auto;
  background-color: hsl(217, 28%, 15%);
  border-radius: 5px;
  display: flex;
  text-align: center;
  padding: 30px 20px;
  z-index: 1;
  position: relative;
  top: 50%;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.signup-text h1 {
  margin-bottom: 1rem;
}

form {
  margin-top: 2rem;
}

input[type="email"] {
  width: 50%;
  padding: 14px 20px;
  border: none;
  border-radius: 25px;
  margin-right: 1.5rem;
  background-color: #fff;
}

.submit {
  width: 25%;
  padding: 14px 20px;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 25px;
  background-color: hsl(198, 60%, 50%);
}
.submit:hover {
  background-color: hsl(176, 68%, 64%);
}

footer {
  margin-top: -60px;
  width: 100%;
  height: 60vh;
  background-color: hsl(216, 53%, 9%);
  display: flex;
  flex-direction: column;
  position: relative;
}

/* footer img {
  display: inline-block;
} */
footer .logo {
  position: relative;
  top: 80px;
  left: 50px;
}
.footer-body {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.location {
  width: 350px;
  display: flex;
}
.location img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

li {
  list-style: none;
  line-height: 2rem;
}
li a {
  text-decoration: none;
  color: white;
}
li > img {
  margin-right: 15px;
}
.fab {
  margin-right: 10px;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
}

a .fab {
  text-decoration: none;
  color: #fff;
}
.fab:hover {
  color: hsl(176, 68%, 64%);
}

.footer-bottom {
  width: 100%;
  height: 50px;
  background-color: hsl(217, 27%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.footer-bottom span a {
  text-decoration: none;
  color: hsl(198, 60%, 50%);
}

@media (max-width: 900px) {
  header {
    background: url(./images/bg-curvy-mobile.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 220px;
  }

  .testimonial {
    grid-template-columns: repeat(1, 350px);
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }
  .testimonial::after {
    top: -5%;
    left: 22%;
  }
  .signup {
    margin-top: 50px;
  }
  footer {
    height: 100vh;
  }
  footer .logo {
    width: 120px;
    top: 90px;
    left: 30px;
  }
  .footer-body {
    width: 85%;
    flex-direction: column;
  }
  .footer-body p {
    font-size: 0.9rem;
    margin-bottom: 35px;
    line-height: 1.2rem;
  }
  .about {
    margin: 30px 0;
  }
  .socials {
    widows: 35%;
    margin: 15px auto 0;
  }
  .fab {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .services {
    width: 85%;
    grid-template-columns: repeat(1, 1fr);
  }
  .service-text h2 {
    font-size: 1.4rem;
  }
  .service-text p {
    font-size: 1rem;
  }
  .product {
    flex-direction: column;
    width: 85%;
  }
  .product > img {
    width: 90%;
  }
  .product-text {
    width: 90%;
  }
  .product-text h1 {
    font-size: 1.5rem;
  }
  .product-text p {
    font-size: 1rem;
  }
  .signup {
    width: 90%;
    height: 40vh;
  }
  .signup-text {
    width: 90%;
    margin: auto;
  }
  .signup-text h1 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  input[type="email"],
  .submit {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 70px;
    height: auto;
  }

  ul.navbar li {
    width: 70px;
    margin-right: 5px;
  }

  ul.navbar li:nth-child(2) {
    width: 50px;
  }
  ul.navbar li:nth-child(3) {
    width: 50px;
  }

  .header-content {
    margin: auto;
  }
  .intro {
    width: 80%;
  }
  .intro-text {
    width: 90%;
    margin: auto;
  }
  .intro-text h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .intro-text p {
    width: 85%;
    line-height: 1.5rem;
  }
  #btn {
    width: 200px;
  }

  .testimonial {
    width: 90%;
    min-height: 100vh;
    margin: 100px auto 0;
  }
  .testimonial::after {
    top: -1%;
    left: 2%;
  }
}
