@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 28%, 15%);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

nav {
  width: 90%;
  height: 15vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 130px;
  height: auto;
  cursor: pointer;
}

ul.navbar {
  list-style: none;
  display: flex;
}

ul.navbar li {
  width: 100px;
}

ul.navbar li a {
  text-decoration: none;
  color: hsl(0, 1%, 59%);
  transition: 0.3s ease;
}

ul.navbar li a:hover {
  text-decoration: underline;
  color: hsl(0, 0%, 100%);
}

header {
  background: url("/images/bg-curvy-desktop.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 220px;
}

.header-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.intro-text {
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}

.intro {
  width: 40%;
  margin-bottom: 30px;
}

.intro-text h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
}

.intro-text p {
  /* width: 500px; */
  line-height: 1.6rem;
  font-weight: 400;
  margin: 0 auto 30px;
  color: hsl(0, 1%, 59%);
}

#btn {
  width: 250px;
  padding: 14px;
  outline: none;
  border: none;
  border-radius: 25px;
  background: hsl(198, 60%, 50%);
  font-family: "Raleway", sans-serif;
}
#btn a {
  text-decoration: none;
  color: #fff;
}

#btn:hover {
  background-color: hsl(176, 68%, 64%);
  cursor: pointer;
}

.main {
  width: 100%;
  height: auto;
  background: hsl(218, 28%, 13%);
  padding-top: 30px;
}

.services {
  width: 75%;
  min-height: 50vh;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* column-gap: 1.2rem; */
}

.service {
  margin: 15px 0;
  padding: 0 25px;
}

.service img {
  width: 70px;
  height: auto;
  margin-bottom: 25px;
}

.service-text {
  /* width: 400px; */
  margin: auto;
  line-height: 1.5rem;
  margin-bottom: 30px;
  color: hsl(0, 1%, 59%);
}

.service-text h2 {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}

.product {
  width: 80%;
  min-height: 50vh;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.product > img {
  width: 50%;
  height: auto;
}

.product-text {
  width: 45%;
}

.product-text h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.product-text p {
  margin-bottom: 1rem;
  line-height: 1.2rem;
  color: hsl(0, 1%, 59%);
}

.product-text a {
  color: hsl(176, 68%, 64%);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-bottom: 0.15rem solid hsl(176, 68%, 64%);
  padding-bottom: 0.125rem;
}

.product-text a img {
  width: 20px;
  margin-left: 5px;
}

@media (max-width: 900px) {
  header {
    background: url(./images/bg-curvy-mobile.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 220px;
  }
}

@media (max-width: 768px) {
  .services {
    width: 85%;
    grid-template-columns: repeat(1, 1fr);
  }
  .service-text h2 {
    font-size: 1.4rem;
  }
  .service-text p {
    font-size: 1rem;
  }
  .product {
    flex-direction: column;
    width: 85%;
  }
  .product > img {
    width: 70%;
  }
  .product-text {
    width: 80%;
  }
  .product-text h1 {
    font-size: 1.5rem;
  }
  .product-text p {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 70px;
    height: auto;
  }

  ul.navbar li {
    width: 70px;
    margin-right: 5px;
  }

  ul.navbar li:nth-child(2) {
    width: 50px;
  }
  ul.navbar li:nth-child(3) {
    width: 50px;
  }

  .header-content {
    margin: auto;
  }
  .intro {
    width: 80%;
  }
  .intro-text {
    width: 90%;
    margin: auto;
  }
  .intro-text h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .intro-text p {
    width: 85%;
    line-height: 1.5rem;
  }
  #btn {
    width: 200px;
  }
}
